.projectBlock {
    background-color: #e7eaf6;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 450px;
    height: 500px;
    flex-direction: column;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img {

}

.text {
    color: #8e8e8e
}

