.logout {
    /*display: flex;
    flex-direction: row;
    justify-content: flex-end;*/

    background-color: #c7acef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #5c5394;
}

.logout:hover {
    background-color: #b296db;
    border: 1px solid #3f2e67;
}