.logoutButton {
    position: absolute;
    top: -25px;
    right: 0px;
}

.logoutButton button {
    background-color: #e7eaf6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #5c5394;
}