.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    gap: 4%;

    background-color: #c7acef;
}

.linkWrapper {
    display: flex;
    align-items: center;
}

.navlinkContainer {
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.text {
    font-weight: bold;
    font-size: 18px;
}

.navlinkContainer:hover {
    background-color: #b296db;
}

.navbar a:active {
    color: #3f2e67;
}

.active {
    background-color: #b296db;
}


.logoContainer{
    height: 60px;
}

.img {
    width: 78px;
    height: 32px;
}

