.projectBlock {
    background-color: #e7eaf6;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 450px;
    height: 500px;
    flex-direction: column;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.linkRecovery{
    cursor: pointer;
    background-color: white;
    width:80%;
    border:none;
    font-size: 14px;
    text-decoration: none;
    color: black;
    text-align: right;
    margin: 2px 0 40px 0;
}

.linkRegistration{
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 14px;
    text-decoration: none;
    color: cornflowerblue;
    text-align: center;
}

.textForRegistration{
    text-align: center;
    padding: 30px 0 0 0;
}