.projectBlock {
    background-color: #e7eaf6;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container {
    background-color: #fff;
    width: 413px;
    flex-direction: column;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.title {
    margin: 15px 10px 0px 20px;
}